mat-card {
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
      max-width: 600px;
      min-width: 500px;
      margin: 2em auto;
      text-align: center;
      max-height: 600px;
    }
   
    .header{
      text-align: center;
    
    }
    .full-width {
      width: 80%;
    }
    
    .button-row {
      padding-top: 5px;
    }
    
    .button-row a {
      margin-right: 8px;
      text-align: center;
    }
    
    .forget-password{
      padding-left: 0px;
    }
    
    .emailInput{
      padding-top: 10px;
    }
    
    .contentBody {
      padding: 60px 1rem;
      background :#1b6ca8;
      display: block;
    }
    
    .aLink{
      float: right;
      padding-right: 60px;
      text-decoration: none;
    }
    .content-body{
      min-height: 100%;
      padding: 60px 1rem;
      background: #16bca8;
      display: block;
  }