mat-card {
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
      max-width: 100%;
      margin: 2em auto;
      padding: 10px;
      text-align: center;
      max-height: 600px;
    }
    .bg{
      background: url("src\background.jpg");
        height: 100vh;
        width: 100%;
    }
    .header{
      text-align: center;
    
    }
    .full-width {
      width: 80%;
    }
    
    .button-row {
      padding-top: 5px;
    }
    
    .button-row a {
      margin-right: 8px;
      text-align: center;
    }
    
    .forget-password{
      padding-left: 0px;
    }
    
    .emailInput{
      padding-top: 10px;
      width: 400px;
      margin-bottom: 5%;
    }
    
    .contentBody {
      padding: 60px 1rem;
      background :#1b6ca8;
      display: block;
    }
    
    .aLink{
      float: right;
      padding-right: 60px;
      text-decoration: none;
    }
    .content-body{
      min-height: 100%;
      width: 1000px;
      padding: 60px 1rem;
      background: transparent;
      display: block;
  }